.elementor-46357 .elementor-element.elementor-element-8a21c23{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:80px;--padding-bottom:60px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-4fdd5ef{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-c93ce1f{--display:grid;--e-con-grid-template-columns:repeat(1, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-a96b715 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-a96b715.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-a96b715{text-align:center;}.elementor-46357 .elementor-element.elementor-element-a96b715 .elementor-heading-title{font-family:"Chakra Petch", Sans-serif;font-size:45px;font-weight:700;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-22f0c32 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-22f0c32.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-22f0c32{text-align:center;}.elementor-46357 .elementor-element.elementor-element-22f0c32 .elementor-heading-title{font-family:"Chakra Petch", Sans-serif;font-size:40px;font-weight:600;line-height:42px;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-a571be5{width:var( --container-widget-width, 65% );max-width:65%;--container-widget-width:65%;--container-widget-flex-grow:0;text-align:center;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:500;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-a571be5 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-a571be5.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-a571be5.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--display:grid;--e-con-grid-template-columns:repeat(2, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--gap:0px 10px;--row-gap:0px;--column-gap:10px;--grid-auto-flow:row;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-1a751eb.e-con{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-skewFill:before,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-flipSlide::before{background-color:transparent;background-image:linear-gradient(180deg, var( --e-global-color-primary ) 0%, var( --e-global-color-secondary ) 100%);}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-animation-none:hover,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-button-2d-animation:hover,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-button-bg-animation::before,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-bubbleFromDown::before,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-bubbleFromDown::after,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-bubbleFromCenter::before,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-bubbleFromCenter::after,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-flipSlide,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 [class*=xpro-elementor-button-hover-style-underline]:hover,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-hover-style-skewFill,
								
								.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button-animation-none:focus,.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-button-2d-animation:focus,
								.elementor-46357 .elementor-element.elementor-element-feb3b84 [class*=xpro-elementor-button-focus-style-underline]:focus{background-color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-feb3b84{width:100%;max-width:100%;z-index:1;}.elementor-46357 .elementor-element.elementor-element-feb3b84 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-feb3b84.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button{width:350px;max-width:100%;border-style:none;border-radius:6px 6px 6px 6px;padding:17px 35px 17px 35px;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button .xpro-button-text{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;line-height:18px;letter-spacing:0px;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button:hover, .elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button:focus{color:#FFFFFF;border-color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button:hover svg, .elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button:focus svg{fill:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button,.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button-hover-style-skewFill:before,
								.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button-hover-style-flipSlide::before{background-color:#3B080800;}.elementor-46357 .elementor-element.elementor-element-cf51be1 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:5px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-cf51be1.elementor-element{--align-self:flex-start;}.elementor-46357 .elementor-element.elementor-element-cf51be1.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button{width:350px;max-width:100%;border-style:none;border-radius:6px 6px 6px 6px;padding:16px 15px 16px 15px;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button .xpro-button-text{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;line-height:1.1em;}.elementor-46357 .elementor-element.elementor-element-46e8e1e{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap-mobile:wrap;--justify-content:center;--flex-wrap:wrap;border-style:solid;--border-style:solid;border-width:1px 0px 0px 0px;--border-top-width:1px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;--margin-top:80px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-46e8e1e.e-con{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-48e7d66 > .elementor-widget-container{margin:60px 0px 0px 0px;padding:0px 70px 0px 70px;}.elementor-46357 .elementor-element.elementor-element-48e7d66.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-48e7d66{text-align:center;}.elementor-46357 .elementor-element.elementor-element-48e7d66 .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:45px;font-weight:700;line-height:55px;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-f8fd221{width:var( --container-widget-width, 61% );max-width:61%;--container-widget-width:61%;--container-widget-flex-grow:0;text-align:center;font-family:"Poppins", Sans-serif;font-size:18px;font-weight:500;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-f8fd221.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-f8fd221.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-bfe1501 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 25px 0px;}.elementor-46357 .elementor-element.elementor-element-bfe1501.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-0815467{--display:flex;border-style:solid;--border-style:solid;border-width:1px 0px 0px 0px;--border-top-width:1px;--border-right-width:0px;--border-bottom-width:0px;--border-left-width:0px;--padding-top:0px;--padding-bottom:85px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-0815467.e-con{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-692b0bb > .elementor-widget-container{padding:52px 0px 40px 0px;}.elementor-46357 .elementor-element.elementor-element-692b0bb.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-692b0bb{text-align:center;}.elementor-46357 .elementor-element.elementor-element-692b0bb .elementor-heading-title{font-family:"Poppins", Sans-serif;font-size:45px;font-weight:700;color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-card{background-color:rgba(0,0,0,0);box-shadow:0px 0px 0px 0px rgba(0,0,0,0.1);border-radius:0px 0px 0px 0px;padding:0px 0px 0px 0px;margin:0px 0px 0px 0px;border-style:none;}.elementor-46357 .elementor-element.elementor-element-e7cadf0{width:var( --container-widget-width, 89% );max-width:89%;--container-widget-width:89%;--container-widget-flex-grow:0;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-e7cadf0.xpro-widget-bg-overlay:before{transition:background 0.3s;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card{display:block;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post .elementskit-post-body{padding:20px 0px 25px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card .elementskit-post-body{padding:20px 0px 25px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-thumb{border-radius:16px 16px 16px 16px;} .elementor-46357 .elementor-element.elementor-element-e7cadf0 .ekit-wid-con .elementskit-entry-thumb{padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list a, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list .meta-date-text{font-family:"Poppins", Sans-serif;font-size:15px;font-weight:600;line-height:25px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list{text-align:left;margin:0px 0px 7px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list > span{margin:0px 0px 0px 0px;padding:0px 0px 0px 0px;color:#FFFFFF;fill:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list > span > i, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list > span > svg{margin:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list > span :is(i, svg){color:#FFFFFF;fill:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .post-meta-list > span:hover{color:#373535;fill:#373535;}.elementor-46357 .elementor-element.elementor-element-e7cadf0.ekit-blog-posts--bg-hover .elementskit-post-image-card:hover .post-meta-list > span{color:#373535;fill:#373535;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body .entry-title, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-header .entry-title, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card .elementskit-post-body .entry-title  a,  .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-card .elementskit-entry-header .entry-title  a,.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post .elementskit-post-body .entry-title a{font-family:"Poppins", Sans-serif;font-size:18px;font-weight:600;line-height:25px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body .entry-title a{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-header .entry-title a{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body .entry-title a:hover{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-header .entry-title a:hover{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-card:hover .entry-title a{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card:hover .entry-title a{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body .entry-title{text-align:left;margin:0px 0px 15px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-header .entry-title{text-align:left;margin:0px 0px 15px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-footer > p{color:#FFFFFF;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body > p{color:#FFFFFF;text-align:left;margin:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-footer > p, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-body > p{font-family:"Poppins", Sans-serif;font-size:16px;font-weight:500;line-height:25px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-footer{text-align:left;margin:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post .elementskit-post-footer > p{margin:0px 0px 0px 0px;}:root{--page-title-display:none;}@media(max-width:1366px){.elementor-46357 .elementor-element.elementor-element-c93ce1f{--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-e7cadf0{width:100%;max-width:100%;}.elementor-46357 .elementor-element.elementor-element-e7cadf0.elementor-element{--align-self:center;}}@media(max-width:1200px){.elementor-46357 .elementor-element.elementor-element-c93ce1f{--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--grid-auto-flow:row;}}@media(max-width:1024px){.elementor-46357 .elementor-element.elementor-element-8a21c23{--margin-top:0px;--margin-bottom:0px;--margin-left:1px;--margin-right:0px;--padding-top:40px;--padding-bottom:40px;--padding-left:20px;--padding-right:20px;}.elementor-46357 .elementor-element.elementor-element-c93ce1f{--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-22f0c32 .elementor-heading-title{font-size:30px;}.elementor-46357 .elementor-element.elementor-element-a571be5{--container-widget-width:90%;--container-widget-flex-grow:0;width:var( --container-widget-width, 90% );max-width:90%;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--gap:0px 15px;--row-gap:0px;--column-gap:15px;--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button{width:300px;max-width:100%;}.elementor-46357 .elementor-element.elementor-element-48e7d66{width:var( --container-widget-width, 55% );max-width:55%;--container-widget-width:55%;--container-widget-flex-grow:0;}.elementor-46357 .elementor-element.elementor-element-48e7d66 > .elementor-widget-container{margin:30px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-48e7d66.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-48e7d66 .elementor-heading-title{font-size:30px;line-height:1.3em;}.elementor-46357 .elementor-element.elementor-element-f8fd221{--container-widget-width:54%;--container-widget-flex-grow:0;width:var( --container-widget-width, 54% );max-width:54%;}.elementor-46357 .elementor-element.elementor-element-e7cadf0{width:var( --container-widget-width, 95% );max-width:95%;--container-widget-width:95%;--container-widget-flex-grow:0;}.elementor-46357 .elementor-element.elementor-element-e7cadf0.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-card{margin:0px 0px 30px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post .elementskit-post-body{padding:20px 0px 20px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card .elementskit-post-body{padding:20px 0px 20px 0px;}}@media(max-width:767px){.elementor-46357 .elementor-element.elementor-element-8a21c23{--content-width:92%;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:50px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-8a21c23.e-con{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-c93ce1f{--e-con-grid-template-columns:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-46357 .elementor-element.elementor-element-22f0c32 .elementor-heading-title{font-size:22px;line-height:1.3em;}.elementor-46357 .elementor-element.elementor-element-a571be5{--container-widget-width:92%;--container-widget-flex-grow:0;width:var( --container-widget-width, 92% );max-width:92%;font-size:16px;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--e-con-grid-template-columns:repeat(1, 1fr);--gap:10px 10px;--row-gap:10px;--column-gap:10px;--grid-auto-flow:row;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-feb3b84{width:100%;max-width:100%;}.elementor-46357 .elementor-element.elementor-element-feb3b84 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button{width:300px;max-width:100%;padding:15px 20px 15px 20px;}.elementor-46357 .elementor-element.elementor-element-feb3b84 .xpro-elementor-button .xpro-button-text{font-size:18px;line-height:1.3em;}.elementor-46357 .elementor-element.elementor-element-cf51be1 > .elementor-widget-container{margin:15px 0px 0px 0px;padding:0rem 0rem 0rem 0rem;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button{width:300px;max-width:100%;padding:16px 15px 16px 15px;}.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button .xpro-button-text{font-size:16px;line-height:1.1em;}.elementor-46357 .elementor-element.elementor-element-46e8e1e{--margin-top:30px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;}.elementor-46357 .elementor-element.elementor-element-48e7d66{width:var( --container-widget-width, 92% );max-width:92%;--container-widget-width:92%;--container-widget-flex-grow:0;}.elementor-46357 .elementor-element.elementor-element-48e7d66 > .elementor-widget-container{margin:0px 0px 0px 0px;padding:20px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-48e7d66.elementor-element{--align-self:center;}.elementor-46357 .elementor-element.elementor-element-48e7d66 .elementor-heading-title{font-size:30px;line-height:1.3em;}.elementor-46357 .elementor-element.elementor-element-f8fd221{--container-widget-width:92%;--container-widget-flex-grow:0;width:var( --container-widget-width, 92% );max-width:92%;font-size:16px;}.elementor-46357 .elementor-element.elementor-element-bfe1501 > .elementor-widget-container{padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-0815467{--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:30px;--padding-left:0px;--padding-right:0px;}.elementor-46357 .elementor-element.elementor-element-692b0bb > .elementor-widget-container{padding:25px 0px 40px 0px;}.elementor-46357 .elementor-element.elementor-element-692b0bb .elementor-heading-title{font-size:26px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 > .elementor-widget-container{margin:-25px 0px 0px 0px;padding:0px 0px 0px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0{--container-widget-width:95%;--container-widget-flex-grow:0;width:var( --container-widget-width, 95% );max-width:95%;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-blog-block-post, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-image-card, .elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-post-card{margin:0px 0px 15px 0px;}.elementor-46357 .elementor-element.elementor-element-e7cadf0 .elementskit-entry-thumb{border-radius:10px 10px 10px 10px;}}@media(min-width:768px){.elementor-46357 .elementor-element.elementor-element-8a21c23{--content-width:1340px;}.elementor-46357 .elementor-element.elementor-element-1a751eb{--width:55%;}.elementor-46357 .elementor-element.elementor-element-46e8e1e{--width:1340px;}}@media(max-width:1024px) and (min-width:768px){.elementor-46357 .elementor-element.elementor-element-1a751eb{--width:95%;}}/* Start custom CSS for heading, class: .elementor-element-a96b715 */.parent-page-tittle-color .elementor-heading-title{

display: inline-block;
    font-weight: 700;
    background: linear-gradient(180deg, #ffffff 0%, #f5f5f8 20%, #d8d9df 55%, #b8bcc6 80%, #f4f4f6 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .15), 0 8px 25px rgba(0, 0, 0, .25);
    font-size: 80px!important;
    
}

@media (max-width: 767px) {
    .parent-page-tittle-color .elementor-heading-title {
        font-size: 30px !important;
    }
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-a571be5 */.parent-page-paragraph-css.elementor-element{
    margin: auto !important;
}/* End custom CSS */
/* Start custom CSS for xpro-button, class: .elementor-element-feb3b84 */.parent-page-buttons-css .xpro-elementor-button{
    transition: transform 0.3s ease-in-out;
}

.parent-page-buttons-css .xpro-elementor-button:hover{
    transform: scale(1.1);
}/* End custom CSS */
/* Start custom CSS for xpro-button, class: .elementor-element-cf51be1 */.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button{
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-top: -4px
  
}

.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button:before{
    content: '';
    position: absolute;
    left: -20px;
    top: -100px;
    width: calc(100% + 40px);
    height: calc(100% + 200px);
    background: linear-gradient(0deg, rgba(217,36,201,1) 0%, rgba(217,36,87,1) 100%);
    z-index: -1;
    animation: rotatebtn 15s linear infinite;
}

@keyframes rotatebtn {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.elementor-46357 .elementor-element.elementor-element-cf51be1 .xpro-elementor-button:after{
    content: '';
    position: absolute;
   width: calc(100% - 6px);
    height: calc(100% - 6px);
    left: 3px;
    top: 3px;
    background-color: #07080f;
    border-radius: inherit;
    z-index: -1;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-bfe1501 */.wg-services-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
    margin:40px auto;
    font-family: 'Poppins';
    
}

.wg-service-card{
      background: #12151f;
    border: 1px solid rgba(168, 174, 194, 0.14);
    border-radius: 10px;
    padding: 35px;
    transition: all 0.35s ease;
    position: relative;
}

.wg-service-card:hover{
 background: #171b28;
    border-color: rgba(255, 45, 106, 0.4);
       transform: translateY(-2px);
    box-shadow: 0 0px 8px rgb(255 45 106 / 40%);
    }


.our-srvices-section-parent-css .wg-service-card h3{
    font-size:25px;
    font-weight:700;
    margin-bottom:15px;
    line-height:1.4;
    background: linear-gradient(165deg, #d924c9 0%, #d92457 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
        font-family: 'Poppins';
}

.wg-service-card p{
    font-size:18px;
    line-height:1.7;
    color:#fff;
    flex:1;
    font-weight: 500;
}

.wg-btn{
    display:inline-block;
    margin-top:20px;
    color:#fff;
    font-weight:500;
    text-decoration:none;
}


.our-srvices-section-parent-css.page-content a {
    text-decoration: none !important;
    background: linear-gradient(165deg, #d924c9 0%, #d92457 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}


.our-srvices-section-parent-css .wg-service-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;

}






@media (max-width: 767px) {
    .wg-services-grid {
        grid-template-columns: repeat(1, 1fr) !important;
    }
    
    .wg-services-section .wg-section-title h2{

    font-size: 32px!important;

}

.wg-services-section .wg-section-title p{

    font-size: 16px!important;

}
.wg-services-section .wg-section-title {
    padding: 25px 0px 0px 0px !important;
}

   .wg-service-card {
        padding: 20px !important;
    }
    
 .wg-service-card p {
    font-size: 16px;

}   

}

@media (min-width: 768px) and (max-width: 1024px) {
    .wg-services-grid {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}/* End custom CSS */
/* Start custom CSS for elementskit-blog-posts, class: .elementor-element-e7cadf0 */#our-blog-post .ekit-wid-con .col-lg-4 {
        max-width: 100% !important;
    }
#our-blog-post .elementskit-post-image-card img {
    object-fit: cover !important;
    min-height: 216px !important;
}

#our-blog-post button.slick-next.slick-arrow, button.slick-prev.slick-arrow {
    background: linear-gradient(0deg, rgba(217, 36, 201, 1) 0%, rgba(217, 36, 87, 1) 100%) !important;
    padding: 16px 10px !important;
    border-radius: 0px;
    height: 30px !important;
}

#our-blog-post .slick-prev {
    left: -55px !important;
    top: 50%;
}

#our-blog-post .slick-next{
     right: -55px !important;
     top: 50%;
}






.our-blog-read .slick-prev:before {
    font-family: "Font Awesome 6 Free";
    content: "\f104";
    font-size: 21px;
    line-height: 0;
    color: #ffffff;
    font-weight: 900;
    display: block;
    text-align: center;
    opacity: 15.75;
}
.our-blog-read .slick-next:before{
    font-family: "Font Awesome 6 Free";
    content: "\f105";
    font-size: 21px;
    line-height: 0;
    color: #ffffff;
    font-weight: 900;
    display: block;
    text-align: center;
    opacity: 15.75;
}


.our-blog-read .slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
    opacity: 12.25 !important;
}


@media (max-width: 767px) {

    #our-blog-post .ekit-wid-con .col-md-6 {
        padding-right: 10px !important;
        padding-left: 10px !important;        
    }

    #our-blog-post .slick-dots li button:before {
        font-size: 10px !important;
    }

.slick-dots li.slick-active button:before {

    color: #b30050 !important; 

}

 .slick-dots li button:before {
  color: #93003f !important; 
}

#our-blog-post .slick-dots {
    bottom: -4px !important;  
}

}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-8a21c23 */.parent-background-gradient-colors{
    position: relative;
    overflow: hidden;
    background: #090c15 !important;
    z-index: 1;
}

.parent-background-gradient-colors::before{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;

    background:
        radial-gradient(circle at 0% 5%,
            rgba(255,45,106,.16) 0%,
            rgba(255,45,106,.10) 22%,
            transparent 45%),

        radial-gradient(circle at 100% 45%,
            rgba(0,235,225,.12) 0%,
            rgba(0,235,225,.07) 28%,
            transparent 48%),

        linear-gradient(#090c15,#090c15);
}

.parent-background-gradient-colors::after{
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 1;

    background-image:
        linear-gradient(rgba(255,255,255,.025) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,.025) 1px, transparent 1px);

    background-size: 56px 56px;

    opacity: .9;

    -webkit-mask-image: radial-gradient(
        ellipse 90% 70% at 50% 0%,
        #000 40%,
        transparent 100%
    );

    mask-image: radial-gradient(
        ellipse 90% 70% at 50% 0%,
        #000 40%,
        transparent 100%
    );
}

/* Keep all content above the background */
.parent-background-gradient-colors > *{
    position: relative;
    z-index: 2;
}/* End custom CSS */